*.pyc
*.swp
*.lock
*.log
*.pid
/djangocms_gist.egg-info
cms/django
*.DS_Store
*.svn
.*
!.tx
!.travis.yml
!.coveragerc
!.codeclimate.yml
!.editorconfig
!.jshintrc
!.jscsrc
*.xml
/*env*/
*.sqlite
/reversion/
htmlcov
build
dist
.ropeproject
.project
.pydevproject
.settings
/*.egg-info/
/*.egg/
*.egg
develop-eggs
downloads
eggs
parts
bin
*~
/docs/_build
/docs/*.html
distribute-*.tar.gz
include/
lib/
man/
share/
cms/static/cms/compass_app_log.txt
*.sublime-project
*.sublime-workspace
coverage-*.txt
docs/env
requirements.txt
/djangocms_gist.egg-info/
